.resetButton {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: blue; /* Green background */
  color: white; /* White text */
  box-shadow: 0 4px #999; /* Add shadows */
}

.invertButton {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: red; /* Green background */
  color: white; /* White text */
  box-shadow: 0 4px #999; /* Add shadows */
}
